
:root{
  --color-coralblue: #4DD0E1;

  --color-coralyellow: #F5EEB9;

}

.font-coralblue{
  color: var(--color-coralblue);
}

.fade-in {
    animation: fadein 0.3s;
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    50%{
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}

.floating {
    transform: translate(-50%, 0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translate(-50%, 0px);
	}
	50% {
		transform: translate(-50%, -15px);
	}
	100% {
		transform: translate(-50%, 0px);
	}
}